.navbar-inverse {
  background-color: white;
}

.navbar-brand img {
  height: 35px; 
  width: 188px;
  margin-top: -7px;
}

.user-dropdown {
  display: block;
  max-height: 25px;
}

/* Sidebar */
.sidebar {
  width: 190px;
  height: 40px;
  left: 20px;
}

.sidebar-title h3 {
  width: 190px;
  height: 20px;
  left: 20px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin-left: 15px;
  color: #151515;
}

.sidebar ul li {
  border-bottom: none;
  margin-bottom: 10px;
}

.sidebar ul li a {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #6D6D6D;
  margin-left: 20px;
  border: none;
}

.sidebar ul li a img {
  height: 25px;
  width: 25px;
  margin-right: 6px;
}

.sidebar ul li a.active {  
  background: #0060AE;
  border-radius: 6px;
  color: white;
}

/*
    BREACRUMB
*/
.breadcrumbs-container {
  background-color: #F5F5F5;
}
.wayfinding-breadcrumbs-container {
  margin-top: 35px!important;
  margin-left: -40px;
}
.wayfinding-breadcrumbs-container ul li {
  list-style: none;
  display: inline-block;
}

.wayfinding-breadcrumbs-container ul li a{
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #6D6D6D;
}

/* Panel */
.panel {
  box-shadow: 0px 0px 10px rgba(229, 229, 229, 0.9);
  border-radius: 10px;
}

.panel.active {
  border: 2px solid #0060AE;
  box-sizing: border-box;
}

.panel.all-transaction {
  background-color: #CCDFEF;
  color: #0060AE;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  text-transform: capitalize;
}

.panel.delay-transaction {
  background-color: #FCFADC;
  color: #9A9437;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  text-transform: capitalize;
}

.panel.success-transaction {
  background-color: #D1E3CC;
  color: #2C8516;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  text-transform: capitalize;
}

.panel.failed-transaction {
  background-color: #FAD5DA;
  color: #BB2033;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  text-transform: capitalize;
}

.panel-transaction-title {
  margin-bottom: 10px;
}

.panel-icon {
  margin-right: 20px;
}

/* Search Bar */
.search-bar {
  line-height: 30px;
  border: 1px solid #fff;
  border-radius: 50px;
  background-color: #f5f5f5;
  font-size: 16px;
  padding-left: 35px;
  outline: 0!important;
  margin-bottom: 20px;
}

.gramedia-form-autocomplete i {
  position: absolute;
  color: #000000;
  left: 25px;
  top: 10px;
}

.pagination a {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #151515;
}

.page-link {
  margin-right: 30px;
}

/* create button */
.create-button {
  line-height: 30px;
  border: 1px solid #fff;
  border-radius: 50px;
  background-color: #f5f5f5;
}
