<template>
  <div class="container-fluid breadcrumbs-container">
    <div class="wayfinding-breadcrumbs-container">
      <ul class="a-unordered-list a-horizontal a-size-small">
        <li>
          <span class="a-list-item">
            <a class="a-link-normal a-color-tertiary" href="#">Dashboard</a>
          </span>
        </li>
        <!-- kalau nanti ada lebih dr dashboard kasih kondisi dibawah -->
        <!-- <li v-for="category in product.categories" :key="category.title"> -->
        <li>
          <span class="a-list-item">></span>
        </li>
        <li>
          <span class="a-list-item">
            <a class="a-link-normal a-color-tertiary" href="#">dashboard</a>
          </span>
        </li>
      </ul>
    </div>
  </div>
</template>
