<template>
  <div class="menu-item" @click="isOpen = !isOpen">
    <button>
      <i class="fa fa-ellipsis-h"></i>
    </button>
    <transition name="fade" appear>
      <div class="sub-menu" v-if="isOpen">
        <div class="menu-item" @click="showModal = true">
          <a>{{ index }}</a>
        </div>
        <div class="menu-item">
          <a @click="onDeleteProduct(id, index)">Delete</a>
        </div>
      </div>
    </transition>
    <UpdateProductTypeForm :params="id" v-show="showModal" @close-modal="showModal = false" />
  </div>
</template>

<script>
export default {
  name: 'Dropdown',
  props: ['id', 'title', 'items', 'index'],
  data () {
    return {
      isOpen: false,
      showModal: false,
      CreateForm: false,
    }
  },
  methods: {
    async onDeleteProduct(id, index) {
      try {
        const response = await this.$axios.$delete(
          `/producttypes/${id}`
        );

        if (response.status) {
          // remove
          this.products.splice(index, 1);
        }
      } catch (err) {
        console.log(err);
      }
    }
  }
}
</script>

<style scoped>
button {
  padding: 0;
  border: none;
  background: none;
}

nav .menu-item svg {
  width: 10px;
  margin-left: 10px;
}
nav .menu-item .sub-menu {
  background-color: #222;
  top: calc(100% + 18px);
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  border-radius: 0px 0px 16px 16px;
}
.fade-enter-active,
.fade-leave-active {
  transition: all .5s ease-out;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>