<template>
  <div class="modal-overlay">
    <div class="close" @click="$emit('close-modal')">
            <div class="col-lg-12">
              <h1 class="page-header">Forms</h1>
            </div>
            <!-- /.col-lg-12 -->
          </div>
          <!-- /.row -->
          <div class="row">
            <div class="col-lg-12">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="row">
                    <!-- /.col-lg-6 (nested) -->
                    <div class="col-lg-12">
                      <h4 style="text-align: center; margin-bottom: 20px">Tambah Tipe Produk Baru</h4>
                      <h5>Enter the name of the product type you want to register.</h5>
                      <form role="form">
                        <div class="form-group">
                          <label class="control-label" for="inputSuccess">Product Type Name</label>
                          <input id="inputSuccess" v-model="name" type="text" class="form-control" />
                        </div>
                        <button @click="onAddProduct">Tambah</button>
                      </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                  </div>
                  <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
              </div>
              <!-- /.panel -->
        <!-- /.container-fluid -->
      </div>
    </div>
  </div>          
</template>

<script>
export default {
  data() {
    return {
      name: ""
    };
  },
  methods: {
    async onAddProduct() {
     await this.$axios.$post("/producttypes", {
        name: this.name, 
      });        
    }
  }
}
</script>

<style scoped> 
.row {
  margin: auto;
} 

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background: rgba(21, 21, 21, 0.5);
}

.modal {
  text-align: center;
  background-color: white;
  height: 500px;
  width: 500px;
  margin-top: 10%;
  padding: 60px 0;
  border-radius: 20px;
}
.close {
  margin: 10% 0 0 16px;
  cursor: pointer;
}

.close-img {
  width: 25px;
}

.check {
  width: 150px;
}

h6 {
  font-weight: 500;
  font-size: 28px;
  margin: 20px 0;
}

p {
  font-size: 16px;
  margin: 20px 0;
}

button {
  background-color: #6D6D6D;
  width: 100%;
  height: 40px;
  color: white;
  font-size: 14px;
  border-radius: 16px;
  margin-top: 10px;
}

.control-label-option {
  display: block;
}

.form-group select {
  width: 100%;
}
</style>