<template>
  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li class="sidebar-title">
          <h3>My Dashboard</h3>
        </li>
        <li>
          <a href="/" class="active">
            <img src="images/dashboard.png" alt="">
            Dashboard
          </a>
        </li>
        <li>
          <a href="/">
            <img src="images/profile.png" alt="">
            My Profile
          </a>
        </li>
      </ul>
    </div>
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li class="sidebar-title">
          <h3>Product Management</h3>
        </li>
        <li>
          <a href="/merchants">
            <img src="images/merchant.png" alt="">
            Merchant
          </a>
        </li>
        <li>
          <a href="/users">
            <img src="images/users.png" alt="">
            Pengguna
          </a>
        </li>
        <li>
          <a href="/billers">
            <img src="images/biller.png" alt="">
            Biller
          </a>
        </li>
        <li>
          <a href="/providers">
            <img src="images/provider.png" alt="">
            Provider
          </a>
        </li>
        <li>
          <a href="/productTypes">
            <img src="images/productType.png" alt="">
            Tipe Produk
          </a>
        </li>
        <li>
          <a href="/products">
            <img src="images/product.png" alt="">
            Produk
          </a>
        </li>
        <li>
          <a href="/manageTransactions">
            <img src="images/manageTransaction.png" alt="">
            Transaksi
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>
