<template>
  <div id="wrapper">

    <div id="page-wrapper">
      <!-- Breadcrumbs -->
      <div class="container-fluid breadcrumbs-container">
        <div class="wayfinding-breadcrumbs-container">
          <ul class="a-unordered-list a-horizontal a-size-small">
            <li>
              <span class="a-list-item">
                <a class="a-link-normal a-color-tertiary" href="#">Dashboard</a>
              </span>
            </li>
            <!-- kalau nanti ada lebih dr dashboard kasih kondisi dibawah -->
            <!-- <li v-for="category in product.categories" :key="category.title"> -->
            <li>
              <span class="a-list-item">></span>
            </li>
            <li>
              <span class="a-list-item">
                <a class="a-link-normal a-color-tertiary" href="#">dashboard</a>
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">Product</h1>
          </div>
          <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <a href="">
              <div class="panel all-transaction active">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-9 text-left">
                      <div class="medium panel-transaction-title">Semua Transaksi</div>
                      <div>123</div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6">
            <a href="">
              <div class="panel delay-transaction">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-9 text-left">
                      <div class="medium panel-transaction-title">Transaksi Tertunda</div>
                      <div>123</div>
                    </div>
                    <div class="panel-icon text-right">
                      <i class="fa fa-exclamation  fa-fw"></i>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6">
            <a href="">
              <div class="panel success-transaction">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-9 text-left">
                      <div class="medium panel-transaction-title">Transaksi Sukses</div>
                      <div>123</div>
                    </div>
                    <div class="panel-icon text-right">
                      <i class="fa fa-check fa-fw"></i>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6">
            <a href="">
              <div class="panel failed-transaction">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-9 text-left">
                      <div class="medium panel-transaction-title">Transaksi Gagal</div>
                      <div>123</div>
                    </div>
                    <div class="panel-icon text-right">
                      <i class="fa fa-exclamation-triangle  fa-fw"></i>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="search-form">
              <form class="gramedia-form-autocomplete" action="#">
                <i class="fa fa-search"></i>
                <input class="search-bar" type="search" name="search" placeholder="Cari Transaksi" title="Search">
              </form>
            </div>
          </div>
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-lg-12">
            <!-- /.panel -->
            <div class="panel panel-default">
              <!-- /.panel-heading -->
              <div class="panel-body">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="table-responsive">
                      <table class="table table-bordered table-hover table-striped">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Nama Produk</th>
                            <th>Provider</th>
                            <th>Tipe Produk</th>
                            <th>Denom</th>
                            <th>Biaya Admin</th>
                            <th>Harga</th>
                            <th>Status</th>
                            <th>Perubahan Terkini</th>
                            <th>Menu</th>
                          </tr>
                        </thead>
                        <tbody v-for="product in products.results" :key="product._id">
                          <tr>
                            <td>{{ product.number }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.providerId.name }}</td>
                            <td>{{ product.productTypeId.name }} </td>
                            <td>{{ formatPrice(product.denom) }}</td>
                            <td>Rp {{ formatPrice(product.adminFee) }}</td>
                            <td>Rp {{ formatPrice(product.price) }}</td>
                            <td>{{ product.isActive }}</td>
                            <td>{{ product.updatedAt }}</td>
                            <td><i class="fa fa-ellipsis-h"></i></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- /.table-responsive -->
                  </div>
                  <!-- /.col-lg-4 (nested) -->
                  <div class="col-lg-8">
                    <div id="morris-bar-chart"></div>
                  </div>
                  <!-- /.col-lg-8 (nested) -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.panel-body -->
            </div>
          </div>
        </div>
        <!-- /.row -->
        <Pagination 
          :totalPages=products.totalPages
          :perPage=products.limit
          :currentPage=products.page
          @pagechanged="onPageChange"
        />
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

  </div>
  <!-- /#wrapper -->
</template>

<script>
export default {
  name: 'ProductsPage',
  components: {
    watchQuery: ["page"]
  },
  data () {
    return {
      currentPage: 1,
    };
  },
  methods: {
    onPageChange(page) {
      console.log(page)
      this.currentPage = page;
      this.$router.push({
        path: this.$route.path,
        query: {page: page}
      })
    },
    formatPrice(value) {
      const val = (value/1);
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    }
  },
  async asyncData({ $axios, query }) {
    try {
      const page = query.page || 1;
      const response = await $axios.$get(`/products?page=${page}`, {
        headers: {
          'Authorization': `Bearer ${process.env.JWT}` 
        }
      });
      // console.log(response);
      return {
        products: response
      };
    } catch (err) {
      console.log(err);
    }
  }
}
</script>
