<template>
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Forms</h1>
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              Basic Form Elements
            </div>
            <div class="panel-body">
              <div class="row">

                <!-- /.col-lg-6 (nested) -->
                <div class="col-lg-6">
                  <h4>Form Validation States</h4>
                  <form role="form">
                    <div class="form-group has-success">
                      <label class="control-label" for="inputSuccess">Input with success</label>
                      <input type="text" class="form-control" id="inputSuccess">
                    </div>
                    <div class="form-group has-warning">
                      <label class="control-label" for="inputWarning">Input with warning</label>
                      <input type="text" class="form-control" id="inputWarning">
                    </div>
                    <div class="form-group has-error">
                      <label class="control-label" for="inputError">Input with error</label>
                      <input type="text" class="form-control" id="inputError">
                    </div>
                  </form>
                </div>
                <!-- /.col-lg-6 (nested) -->
              </div>
              <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
          </div>
          <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
</template>