<template>
  <div id="wrapper">
    <div id="page-wrapper">
      <Breadcrumbs />
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
          </div>
          <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <a href="">
              <div class="panel all-transaction active">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-9 text-left">
                      <div class="medium panel-transaction-title">Semua Transaksi</div>
                      <div>123</div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6">
            <a href="">
              <div class="panel delay-transaction">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-9 text-left">
                      <div class="medium panel-transaction-title">Transaksi Tertunda</div>
                      <div>123</div>
                    </div>
                    <div class="panel-icon text-right">
                      <i class="fa fa-exclamation  fa-fw"></i>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6">
            <a href="">
              <div class="panel success-transaction">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-9 text-left">
                      <div class="medium panel-transaction-title">Transaksi Sukses</div>
                      <div>123</div>
                    </div>
                    <div class="panel-icon text-right">
                      <i class="fa fa-check fa-fw"></i>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6">
            <a href="">
              <div class="panel failed-transaction">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-9 text-left">
                      <div class="medium panel-transaction-title">Transaksi Gagal</div>
                      <div>123</div>
                    </div>
                    <div class="panel-icon text-right">
                      <i class="fa fa-exclamation-triangle  fa-fw"></i>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="search-form">
              <form class="gramedia-form-autocomplete" action="#">
                <i class="fa fa-search"></i>
                <input class="search-bar" type="search" name="search" placeholder="Cari Transaksi" title="Search">
              </form>
            </div>
          </div>
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-lg-12">
            <!-- /.panel -->
            <div class="panel panel-default">
              <!-- /.panel-heading -->
              <div class="panel-body">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="table-responsive">
                      <table class="table table-bordered table-hover table-striped">
                        <thead>
                          <tr>
                            <th>No. transaksi</th>
                            <th>Merchant</th>
                            <th>Nama Produk</th>
                            <th>Tipe Produk</th>
                            <th>Total Fee</th>
                            <th>Perubahan Terkini</th>
                            <th>Status</th>
                            <th>Menu</th>
                          </tr>
                        </thead>
                        <tbody v-for="transaction in transactionDetails.results" :key="transaction._id">
                          <tr>
                            <td>{{ transaction.transaction.number }}</td>
                            <td>{{ transaction.transaction.merchantId.name }}</td>
                            <td>{{ transaction.productId.name }}</td>
                            <td>{{ transaction.jsonData.type }} </td>
                            <td>Rp {{ formatPrice(transaction.totalAmount) }}</td>
                            <td>{{ transaction.updatedAt }}</td>
                            <td>{{ transaction.status }}</td>
                            <td><i class="fa fa-ellipsis-h"></i></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- /.table-responsive -->
                  </div>
                  <!-- /.col-lg-4 (nested) -->
                  <div class="col-lg-8">
                    <div id="morris-bar-chart"></div>
                  </div>
                  <!-- /.col-lg-8 (nested) -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.panel-body -->
            </div>
          </div>
        </div>
        <!-- /.row -->
        
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

  </div>
  <!-- /#wrapper -->
</template>

<script>
export default {
  name: 'IndexPage',
  methods: {
    formatPrice(value) {
      const val = (value/1);
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    }
  },
  async asyncData({ $axios }) {
    try {
      const response = await $axios.$get(`/transactiondetails`, {
        headers: {
          'Authorization': `Bearer ${process.env.JWT}` 
        }
      });
      console.log(response);
      return {
        transactionDetails: response
      };
    } catch (err) {
      console.log(err);
    }
  },
}
</script>
