<template>
  <div>
    <SavedModal v-show="showModal" @close-modal="showModal = false" />
    <div class="save-btn">
      <button @click="showModal = true">Save</button>
    </div>
  </div>
</template>

<script>
import SavedModal from '~/components/SavedModal.vue'

export default {
  name: 'PopupPage',
  components: { SavedModal },
  layout: 'none',
  data() {
    return {
      showModal: false,
    }
  },
}
</script>