<template>
  <div id="wrapper">
    <div id="page-wrapper">
      <Breadcrumbs />
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">Product Type</h1>
          </div>
          <!-- /.col-lg-12 -->
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="search-form">
              <form class="gramedia-form-autocomplete" action="#">
                <i class="fa fa-search"></i>
                <input class="search-bar" type="search" name="search" placeholder="Cari Transaksi" title="Search">
              </form>
            </div>
          </div>
          <div class="col-lg-6 text-right">              
              <button class="create-button" @click="showModal = true">
                <i class="fa fa-plus plus-icon" aria-hidden="true"></i>
                Create New Biller
              </button>
            </div>
          </div>
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-lg-12">
            <!-- /.panel -->
            <div class="panel panel-default">
              <!-- /.panel-heading -->
              <div class="panel-body">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="table-responsive">
                      <table class="table table-bordered table-hover table-striped">
                        <thead>
                          <tr>
                            <th>Biller Name</th>
                            <th>Notification Address</th>
                            <th>Status</th>
                            <th>Perubahan Terkini</th>
                            <th>Menu</th>
                          </tr>
                        </thead>
                        <tbody v-for="(biller, itemIndex) in billers.results" :key="biller._id">
                          <tr>
                            <td>{{ biller.name }}</td>
                            <td>{{ biller.notificationAddress }}</td>
                            <td>{{ biller.isActive }}</td>
                            <td>{{ biller.updatedAt }} </td>
                            <td><Dropdown :id="biller.id" :items="services" :index="itemIndex"/></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- /.table-responsive -->
                  </div>
                  <!-- /.col-lg-4 (nested) -->
                  <div class="col-lg-8">
                    <div id="morris-bar-chart"></div>
                  </div>
                  <!-- /.col-lg-8 (nested) -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.panel-body -->
            </div>
          </div>
        </div>
        <!-- /.row -->
        
      </div>
      <!-- /.container-fluid -->
      <ProductTypeForm v-show="showModal" @close-modal="showModal = false" />      
    </div>
    <!-- /#page-wrapper -->

  </div>
  <!-- /#wrapper -->
</template>

<script>
import ProductTypeForm from '~/components/ProductTypeForm.vue'

export default {
  name: 'BillerPage',
  components: { ProductTypeForm },
  async asyncData({ $axios }) {
    try {
      const response = await $axios.$get(`/producttypes`);
      // console.log(response);
      return {
        billers: response
      };
    } catch (err) {
      // console.log(err);
    }
  },
  data() {
    return {
      showModal: false,
      CreateForm: false,
      services: [
        {
          title: 'Edit Merchant',
          link: '#'
        },
        {
          title: 'Delete',
          link:'#'
        }
      ]
    }
  },
  methods: {
    formatPrice(value) {
      const val = (value/1);
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    }
  },
}
</script>
